@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color-dark: #04355d;
  --theme-color-light: #086fc3;
  --text-dark: #1e3c72;
  --text-light: #045a8d;
  --text-grey-light: #85a2b3;
  --text-blue-dark: #04355d;
  --icon-blue-dark: #045a8d;
  --button-bg-light: #f0f0f0;
  --button-bg-light-hover: #fbfbfb;
  --button-bg-blue-light-hover: #eef9ff;
  --button-bg-blue: #045a8d;
  --button-bg-blue-active: #137ebd;
  --button-bg-blue-hover: #1d74a8;
  --breadcrum-background: #eef9ff;
  --background: #ffffff;
  --foreground: #171717;
  --box-shadow: rgba(0, 0, 0, 0.22);
  --box-shadow-light: rgba(0, 0, 0, 0.05);
  --stroke-color: #b2b0b0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* thinner scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* or a subtle color */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* custom thumb color */
  border-radius: 4px; /* rounded edges */
}

::-webkit-scrollbar-button {
  display: none; /* remove up/down arrows */
}

/* Firefox support */
* {
  scrollbar-width: thin; /* thin scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
